<html>
<% include includes/head %>
<body>
<div>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p><a target="_blank" href="https://havis-node.herokuapp.com/documentation">API documentation</a></p>
    <p><a target="_blank" href="https://github.com/tzpr/havis">GitHub repository</a></p>
</div>
<% include includes/foot %>
</body>
</html>
